<!DOCTYPE html>
<html>
<head>
  <title>个人管理</title>
<link data-turbolinks-track="true" href="/assets/style.css?body=1" media="all" rel="stylesheet" />
<script data-turbolinks-track="true" src="/assets/jquery-1.4.1.min.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-func.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery.jcarousel.pack.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/tablecloth.js?body=1"></script>
  
  
</head>
<body>
	<div id="page" class="shell">
	<!-- Logo + Search + Navigation -->
		<div id="top">
		<div class="cl">&nbsp;</div>
		<h1 id="logo"><a href="#">MONDAYS</a></h1>
		<form action="" method="post" id="search">
			<div class="field-holder">
				欢迎你--<%=session[:student_name]%>
			</div>
			<%= link_to '退出',{:controller=>:session,:action=>:destroy}%>
			<div class="cl">&nbsp;</div>
		</form>
		<div class="cl">&nbsp;</div>
		<div id="navigation">
			<ul>
			    <li>
			    	<%= link_to '首页', students_path %> 
			    </li>
			    <li>
			    	<a href=""><span>考勤</span></a>
			    </li>
			    <li>
			    	<a href=""><span>课程查询</span></a>
			    </li>
			    <li>
			    	<%= link_to '个人信息', @student %> 
			    </li>
			</ul>
		</div>	
	</div>
	<div class="main">
		<%= yield %>
	</div>
</div>
</body>
</html>
