<p id="notice"><%= notice %></p>

<p>
  <strong>课程名称:</strong>
  <%= @course.course_name %>
</p>

<p>
  <strong>课程代号:</strong>
  <%= @course.course_id %>
</p>

<p>
  <strong>学年:</strong>
  <%= @course.year %>
</p>

<p>
  <strong>开始周:</strong>
  <%= @course.course_begin %>
</p>

<p>
  <strong>结束周:</strong>
  <%= @course.course_end %>
</p>

<p>
  <strong>开始节:</strong>
  <%= @course.lesson_begin %>
</p>

<p>
  <strong>结束节:</strong>
  <%= @course.lesson_end %>
</p>

<p>
  <strong>日期，周:</strong>
  <%= @course.course_day %>
</p>

<p>
  <strong>上课教师:</strong>
  <%= @course.teacher %>
</p>

<p>
  <strong>上课地点:</strong>
  <%= @course.place %>
</p>

<p>
  <strong>上课班级:</strong>
  <%= @course.grade_id %>
</p>

<%= link_to '编辑', edit_course_path(@course) %> |
<%= link_to '返回', courses_path %>
