<p id="notice"><%= notice %></p>

<p>
  <strong>用户名:</strong>
  <%= @user.user %>
</p>

<p>
  <strong>昵称:</strong>
  <%= @user.name %>
</p>


<p>
  <strong>权限:</strong>
  <%= @user.power %>
</p>

<%= link_to '编辑', edit_user_path(@user) %> |
<%= link_to '返回', users_path %>
